.motto {
	font-size: 30px;
}

.bg-dark {
    background-color: #141414!important;
}



.insta, .fb, .line, .linkedin{
	width: 50px;
	margin-left: 10px;
}

.utama{
	margin-top: 3vw;

}

.utama1{
	padding-bottom: 1rem !important;
	margin-top: 3vw;
	background: #E4C7B3 !important;
}

.utama2 {
	padding-bottom: 1rem !important;
	background: #fcc49d !important;
	margin-top: 3vw;
}

.utama3 {
	padding-bottom: 1rem !important;
	background: #f7a972 !important;
	margin-top: 3vw;
}


.utamakonten{

	margin-left: 5vw;
	margin-right: 5vw;
}

.foto {
	display: inline-block;
	vertical-align: middle;
	width : 80%;
}

.profilejudul{
	text-shadow: 2px 2px 4px #000;
	margin-bottom: 4vw;
	font-size: 5vw;
}

.icons {
	width : 100%;
}

.icons2{
	border-radius : 50%;
	width : 100%;
}

.info {
	font-size: 2vw;
	padding-left: 0;
}

.inforow {
	margin-bottom: 3vw;
}

.mycol {
	text-align: justify;
	font-size: 2vw;
	margin-bottom: : 7vh;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.containers {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.python {width: 80%; background-color: #2196F3;} /* Blue */
.java {width: 90%; background-color: #4CAF50;} /* Green */
.photoshop {width: 65%; background-color: #f44336;} /* Red */
.HTML {width: 50%; background-color: #808080;} /* Dark Grey */