<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Nicolas' Personal Blog</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="{% static 'css/story4.css' %}">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    
  </head>
  <body>
    <div class="container">
  <div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand motto" href="#">Live Your Life</a><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'story4app:home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story4app:aboutme' %}".html"">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Connect!</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama1">
    <div class="container">
      <div class="row justify-content-center font-weight-bold profilejudul">
        PROFILE
      </div>
      <div class="row align-items-center inforow">
        <div class="col align-items-center mycol">
          <img src="{% static 'pic/name.png' %}" class="img-fluid icons" alt="Responsive image">  
        </div>  
        <div class="col-5 info"> 
          Nicolas Henry Wijaya
        </div>
        <div class="col mycol">
          <img src="{% static 'pic/age.png' %}" class="img-fluid icons" alt="Responsive image">
        </div>
        <div class="col-5 info"> 
          March 29th 2000
        </div>
      </div>  
      <div class="row align-items-center inforow">
        <div class="col mycol">
          <img src="{% static 'pic/home.png' %}" class="img-fluid icons" alt="Responsive image">  
        </div>
        <div class="col-5 info"> 
          Bahagia St., West Jakarta
        </div>
        <div class="col mycol">
          <img src="{% static 'pic/blood.png' %}" class="img-fluid icons" alt="Responsive image">
        </div>
        <div class="col-5 info"> 
          O Positive
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama2">
    <div class="container">
      <div class="row justify-content-center font-weight-bold profilejudul">
        EXPERIENCES
      </div>
      <div class="row align-items-center inforow">
        <div class="col-2 mycol2">
          <img src="{% static 'pic/uiaw.png' %}" class="img-fluid icons2" alt="Responsive image">  
        </div>  
        <div class="col info"> 
          <strong> 7th UI Art War</strong> </br> Staff of Equipments
        </div>
        <div class="col-2 mycol2">
          <img src="{% static 'pic/cgt.png' %}" class="img-fluid icons2" alt="Responsive image">
        </div>
        <div class="col info"> 
          <strong>CGT In Action</strong></br> Staff of Public Relations
        </div>
      </div>  
      <div class="row align-items-center inforow">
        <div class="col-2 mycol2">
          <img src="{% static 'pic/kmk.png' %}" class="img-fluid icons2" alt="Responsive image">  
        </div>
        <div class="col info"> 
          <strong>Presidium KMK UI 2019</strong></br> Staff of HRD
        </div>
        <div class="col-2 mycol2">
          <img src="{% static 'pic/compfest.png' %}" class="img-fluid icons2" alt="Responsive image">
        </div>
        <div class="col info"> 
          <strong>COMPFEST 12</strong></br> Staff of Digital Marketing
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama3">
    <div class="container">
      <div class="row justify-content-center font-weight-bold profilejudul">
        SKILLS
      </div>
     <p>Python</p>
      <div class="containers">
        <div class="skills python">80%</div>
      </div>

      <p>Java</p>
      <div class="containers">
        <div class="skills java">90%</div>
      </div>

      <p>Photoshop</p>
      <div class="containers">
        <div class="skills photoshop">65%</div>
      </div>

      <p>HTML</p>
      <div class="containers">
        <div class="skills HTML">50%</div>
      </div> 
    </div>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark utama2">
    <div class="container">
      <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>

  
</div>


</body>
</html>
